/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

body {
  color: #383838 !important;
  background-color: #ebebeb;
}

.bg {
  padding: 200px;
}

.crd {
  width: 400px;
  padding: 20px;
  border-radius: 30px;
  background: #ebebeb;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.crd-bd {
  margin-top: 16px;
  padding: 6px;
  color: #383838;
  font-size: 18px;
}

.crd-tt {
  text-align: left;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}

.crd-img {
  border-radius: 20px;
  width: 100%;
}

.crd-cont-img {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(145deg, #e7e7e7, #ebebeb);
  box-shadow: 9px 9px 40px #bebebe, -9px -9px 40px #f1f1f1;
}

.but {
  border-radius: 14px;
  background: #ebebeb;
  box-shadow: 12px 12px 24px #b8b8b8, -12px -12px 24px #eeeeee;
  border: #f7f7f7;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 1px;
  cursor: pointer;
}

.but:hover {
  transform: scale(1.01);
}

.but-primary {
  color: #2a219c;
}

.but-secondary {
  color: #77749e;
}

.but-success {
  color: #10a310;
}

.but-info {
  color: #218e9c;
}

.but-danger {
  color: #d31313;
}

.but-warning {
  color: #cfc100;
}

.but-dark {
  color: #383838;
}

.but-light {
  color: #c2c2c2;
}

.alrt {
  border-radius: 14px;
  background: #ebebeb;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #f1f1f1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 8px;
  font-weight: bold;
}

.alrt-primary {
  color: #2a219c;
}

.alrt-secondary {
  color: #77749e;
}

.alrt-success {
  color: #10a310;
}

.alrt-info {
  color: #218e9c;
}

.alrt-danger {
  color: #d31313;
}

.alrt-warning {
  color: #cfc100;
}

.alrt-dark {
  color: #383838;
}

.alrt-light {
  color: #c2c2c2;
}

.bdg {
  border-radius: 50%;
  background: #ebebeb;
  background: #e0e0e0;
  box-shadow: 5px 5px 19px #cacaca, -5px -5px 19px #f6f6f6;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 1px;
  text-align: center;
  display: inline-block;
}

.bdg-primary {
  color: #2a219c;
}

.bdg-secondary {
  color: #77749e;
}

.bdg-success {
  color: #10a310;
}

.bdg-info {
  color: #218e9c;
}

.bdg-danger {
  color: #d31313;
}

.bdg-warning {
  color: #cfc100;
}

.bdg-dark {
  color: #383838;
}

.bdg-light {
  color: #c2c2c2;
}

.inp {
  border-radius: 12px;
  background: linear-gradient(45deg, #f1f1f1, #f1f1f1);
  box-shadow: inset 6px 6px 23px #d3d3d3, inset -6px -6px 23px #f0f0f0;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #383838;
  border: none;
}

input:focus-visible {
  outline: #a0b2d3 !important;
  border: none !important;
}

.nvbr {
  width: 70%;
  border-radius: 16px;
  background: #ebebeb;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #f1f1f1;
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  font-weight: bold;
}

.nvbr-elmnt {
  font-size: 22px;
  margin-left: 14px;
  margin-right: 14px;
  cursor: pointer;
  color: #152e5e;
}

.nvbr-elmnt:hover {
  transform: scale(1.06);
}

.lst-grp {
  padding-left: 10px;
  padding-right: 10px;
}

.lst-elmnt {
  border-radius: 10px;
  background: #ebebeb;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #f1f1f1;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 6px;
  list-style: none;
}

.lst-elmnt-primary {
  color: #2a219c;
}

.lst-elmnt-secondary {
  color: #77749e;
}

.lst-elmnt-success {
  color: #10a310;
}

.lst-elmnt-info {
  color: #218e9c;
}

.lst-elmnt-danger {
  color: #d31313;
}

.lst-elmnt-warning {
  color: #cfc100;
}

.lst-elmnt-dark {
  color: #383838;
}

.lst-elmnt-light {
  color: #c2c2c2;
}

.txt-primary {
  color: #2a219c;
}

.txt-secondary {
  color: #77749e;
}

.txt-success {
  color: #10a310;
}

.txt-info {
  color: #218e9c;
}

.txt-warning {
  color: #cfc100;
}

.txt-danger {
  color: #d31313;
}

.txt-dark {
  color: #383838;
}

.txt-light {
  color: #c2c2c2;
}

/*# sourceMappingURL=neumorphismUI.css.map */
