.bg{
    background-color: #e0e0e0;
    width: 800px;
    height: 800px;
    padding: 200px;
  }
  .crd{
    padding: 20px;        
    border-radius: 40px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
     -20px -20px 60px #ffffff;
  }

  .crd-bd{
    padding: 2px;
    color: rgb(87, 87, 87);
    font-size: 18px;
  }

  .crd-tt{
    text-align: left;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
  }

  .crd-img{
    border-radius: 50px;
    width: 100%;
  }
  
  .but{
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  12px 12px 24px #b8b8b8,
                -12px -12px 24px #ffffff;
    border: #ffffff;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px ;
    padding-bottom: 6px ;
    cursor: pointer;
  }